[submodule "viewer"]
	path = viewer
	url = https://github.com/danilotpnta/segmentation_viewer

[submodule "segvol"]
	path = segvol
	url = https://github.com/m-krastev/segevolution


[submodule "models/nnunet"]
	path = models/nnunet
	url = https://github.com/MIC-DKFZ/nnUNet
